{% extends 'base.html.twig' %}

{% block title %}Chapitres{% endblock %}
{% block body %}
<div class="container">

    {% for chapter in chapters %}
    <div class="block-chapters">
        <div class="row">
             <div class="col-md-8 center-block">
                <div class="chapters-title">
                     <h2> {{ chapter.title }}</h2>
                         {{ chapter.date_publication|date('d m Y') }}
                </div>
                <div class="chapters-content">
                 {{chapter.content|slice(0, 600) | raw}}
                ...<a href="chapitre&id={{ chapter.id }}"> Tout lire</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>
{% endblock %}
