{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block body %}
<div class="container">

    
    <div class="block-chapter">
        <div class="chapter-title">
        {{ chapter.title }}</div>
        <div class="chapter-content">
        {{chapter.content}}
     
    </div>
    
 </div>
{% endblock %}