{% extends 'adminbase.html.twig' %}
{% block head %}
  <link href="Public/CSS/theme.css" rel="stylesheet">
<script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({
  selector: 'textarea',  // change this value according to your HTML
});</script>
    {% endblock %}
{% block title %}Administration{% endblock %}
{% block body %}
    <div name="all_chapter_admin">
    <p style="text-align: center" name="nbre_articles">Il y a actuellement  chapitres. En voici la liste :</p>
    <table>
      <tr><th>Titre</th><th>Date d'ajout</th><th>Dernière modification</th><th>Action</th></tr>
    </table>
    <div>

    <div name="all_comments_report">
    <p style="text-align: center">Il y a actuellement  commentaire signalé. En voici la liste :</p>
    <table>
    <tr><th>Auteur</th><th>Titre</th><th>Date d'ajout</th><th>Dernière modification</th><th>Action</th></tr>
    </table>
    <div>

{% endblock %}
