{% extends 'adminbase.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}
    <style type="text/css">
      table, td {
        border: 1px solid black;
      }

      table {
        margin:auto;
        text-align: center;
        border-collapse: collapse;
      }

      td {
        padding: 3px;
      }
    </style>
    <form action="admin.php" method="post">
      <p style="text-align: center">
        Auteur : <input type="text" name="auteur" value="<?php if (isset($news)) echo $news->auteur(); ?>" /><br />
        Titre : <input type="text" name="titre" value="<?php if (isset($news)) echo $news->titre(); ?>" /><br />
        Contenu :<br /><textarea rows="8" cols="60" name="contenu"></textarea><br />
        <input type="hidden" name="id" value="<?= $news->id() ?>" />
        <input type="submit" value="Modifier" name="modifier" />
        <input type="submit" value="Ajouter" />
      </p>
    </form>
    <p style="text-align: center">Il y a actuellement  chapitres. En voici la liste :</p>
    <table>
      <tr><th>Auteur</th><th>Titre</th><th>Date d'ajout</th><th>Dernière modification</th><th>Action</th></tr>
    </table>


{% endblock %}