{% extends 'adminbase.html.twig' %}
{% block head %}
  <link href="Public/CSS/theme.css" rel="stylesheet">
<script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({
  selector: 'textarea',  // change this value according to your HTML
});</script>
    {% endblock %}
{% block title %}Administration des chapitres{% endblock %}
{% block body %}

    <form action="ajoutChapitre" method="post">

      <div name="AddChapter">
      <label for="AddChapter" style="text-align: center"><h2> Nouveau chapitre:</h2></label>
      </div>


      <div name="TitleAddChapter">
      <label for="TitleAddChapter"><h3> Titre :</h3></label>
      <input type="text" name="title"/><br />
      </div>

      <div name="ContentAddChapter">
      <label for="ContentAddChapter" style="text-align: center"><h3> Contenu :</h3></label><br />
        <div name="Content">
      <textarea rows="10" cols="20" name="content" max-width:"200px"></textarea><br />
        </div>
      </div>

        <input type="submit" value="Modifier" name="modifier" />
        <input type="submit" value="Ajouter" name="addChapter" />
      </p>
    </form>
    <p style="text-align: center" name="nbre_articles">Il y a actuellement  chapitres. En voici la liste :</p>
    <table>
      <tr><th>Titre</th><th>Date d'ajout</th><th>Dernière modification</th><th>Action</th></tr>
    </table>



{% endblock %}
