<!DOCTYPE html>
<html>
  <link href="src/View/backend/admin.php" >

  <head>
    <title>Administration</title>
    <meta charset="utf-8" />
    
    <style type="text/css">
      table, td {
        border: 1px solid black;
      }
      
      table {
        margin:auto;
        text-align: center;
        border-collapse: collapse;
      }
      
      td {
        padding: 3px;
      }
    </style>
  </head>
  
  <body>
    <p><a href=".">Accéder à l'accueil du site</a></p>
    
    <form action="admin.php" method="post">
      <p style="text-align: center">

      </p>
    </form>
    
    <p style="text-align: center">Il y a actuellement  news. En voici la liste :</p>
    
    <table>
      <tr><th>Auteur</th><th>Titre</th><th>Date d'ajout</th><th>Dernière modification</th><th>Action</th></tr>

    </table>
  </body>
</html>