/* NAV + FOOTER */
.inline-form input {
    display: inline-block;
    width: 100px;}
.well {
        background-color:#CCC;
        padding: 20px;
      }
.navbar{
    width:100%;
    margin-top:10px;
    margin-bottom:-0px;
  }
body { background-color:#DDD; margin-left:10px; }
      [class*="col"] { margin-bottom: 20px; }
img { width: 100%; }

.footer{
    margin-top:100px;
    margin-right:10px;

  }

.ml-1 {
    margin-left: 10px;
    margin-right: 10px;
    padding-left:10px;
    list-style-type:none;
 }

 .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.img-responsive{
  margin-bottom:10px;
  margin-right:10px;

}

a, a:visited {

  color: #4e4d4d;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: #ff0000;
}


/* INDEX */
.last-chapter {
 margin-top:-480px;
 margin-bottom:280px;
}



/* ALL CHAPTERS */
.block-chapters {
  margin-bottom: 15px;
  width:100%;

}

/* LOGIN*/
.form-group-login {
  margin-bottom: 200px;

}

/* ADMIN */
table, td {
  border: 1px solid black;
}

table {
  margin:auto;
  text-align: center;
  border-collapse: collapse;
}

td {
  padding: 3px;
}

.nbre_articles
{
  margin-top: 5%;
  text-align: center;
  margin-bottom: 10%;
}



@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
