<!DOCTYPE HTML>

<html>


  <head>
    <meta charset="utf-8">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    
  </head>


  <body>
{% block body %}


{% endblock %}
  </body>

  <footer>
  </footer>



</html>

