<!DOCTYPE HTML>

<html>


  <head>
    <meta charset="utf-8">
    <link href="Public/css/bootstrap.css" rel="stylesheet">
    <link href="Public/css/theme.css" rel="stylesheet">
    <title>{% block title %}   {% endblock %}</title>
  </head>


  <body>
{% block body %}


{% endblock %}
  </body>

  <footer>
  <div class = " 
  <h2> Blog écrivain / Mentions légales </h2>
  </footer>



</html>